html {
    font-size: 16px;
    font-family: monospace;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 150px;
    align-items: center;
    border-bottom: 2px solid;
    padding-left: 50px;
    z-index: 1;
}

#google-font{
    padding-right: 3rem;
    margin-right: 2.6rem;
    display: none;
    
}
#google-font span{
    display: inline-block;
    margin-right: 30px;
    font-size: 2.6rem;
    cursor: pointer;
}
#navigation {
    padding-right: 3rem;
    font-size: 1.20rem;
    font-weight: bolder;
}

ul {
    padding-right: 70px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 1rem 1.2rem;
    margin-right: 0.50rem;
    cursor: pointer;
}


ul li a {
    color:#201f2e;
    
}
ul li a:hover {
    color: grey;
}

main {
    position: relative;
    top:200px
}




/*media query*/
@media only screen and (max-width: 950px){
    #navigation {
        display: none;
    }

}

@media only screen and (max-width: 950px){
    #google-font {
        display: block;
    }

}

@media only screen and (max-width: 520px){
    #logo {
        display: none;
    }

}