html {
    font-size: 16px;
    font-family: sans-serif;
    box-sizing: border-box;
}

/*header ruleset*/
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 150px;
    align-items: center;
    border-bottom: 1px solid;
    box-shadow: 0 3px 1px lightgrey;
    padding-left: 50px;
    z-index: 1;
}

/*logo ruleset*/
#logo{
    width: 20%;
   background-color: midnightblue;
   color: #fff;
   font-family: sans-serif;
   padding: 0 10px 0 10px;
   border-right: 15px solid orange;
   border-top-left-radius: 10px;
}
#logo h4, h5 {
    font-size: 1rem;
    margin-top: 3px;
    letter-spacing: 1px;
}

#logo h4 {
    text-align: center;
}

#logo h4 span {
    font-size: 1.5rem;
    color: orange; 
}

/*icons to replace the navigation*/
#google-font{
    padding-right: 3rem;
    margin-right: 2.6rem;
    display: none;
    
}
#google-font span{
    display: inline-block;
    margin-right: 30px;
    font-size: 2.6rem;
    cursor: pointer;
}

/*the main navigation*/
#navigation {
    padding-right: 3rem;
    font-size: 1.20rem;
}

ul {
    padding-right: 70px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 1rem 1.2rem;
    margin-right: 0.50rem;
    cursor: pointer;
}


ul li a {
    color:#201f2e;
    
}
ul li a:hover {
    color: grey;
}


/*main section of the page*/
main {
    position: relative;
    top:200px;
    height: 100%;
    
}

.me {
    width: 50%;
    height: 40%;
    margin: 0 auto 80px;

}

.my-img {
    text-align: center;
}

.my-img img {
    max-width: 30%;
    border-radius: 100%;
    

}
/*boxes*/
.galary {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    height: 60%;
}

/* #description{
 padding-bottom: 30px;

} */

.galary div {
    border: 1px solid;
    height: 335px;

}

footer {
    background-color: midnightblue;
    margin-top: 5%;
    padding: 5%;
    color:#fff;
    text-align: center;
}



/*media query for the navigation*/
@media only screen and (max-width: 900px){
    #navigation {
        display: none;
    }

}

@media only screen and (max-width: 900px){
    #google-font {
        display: block;
        padding: 5px;
        text-align: center;
        /* margin-right: 20px; */
        
    }

}

@media only screen and (max-width: 900px){
    #logo {
        display: none;
    }

}

@media only screen and (max-width: 900px){
    .galary {
        display: flex ;
        flex-direction: column;

    }

    .galary div {
        height: 200px;
    
    }

}