html {
    font-size: 16px;
    font-family: monospace;
    box-sizing: border-box;
}

/*header ruleset*/
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 150px;
    align-items: center;
    border-bottom: 1px solid;
    box-shadow: 0 10px 10px lightgrey;
    padding-left: 50px;
    z-index: 1;
}

/*logo ruleset*/
#logo{
   background-color: midnightblue;
   color: #fff;
   padding: 0 10px 0 10px;
   text-align: center;
   border-right: 15px solid orange;
   border-top-left-radius: 10px;
}

#logo h4 span {
    font-size: 1.5rem;
    color: orange;
    
}

/*icons to replace the navigation*/
#google-font{
    padding-right: 3rem;
    margin-right: 2.6rem;
    display: none;
    
}
#google-font span{
    display: inline-block;
    margin-right: 30px;
    font-size: 2.6rem;
    cursor: pointer;
}

/*the main navigation*/
#navigation {
    padding-right: 3rem;
    font-size: 1.20rem;
}

ul {
    padding-right: 70px;
}

ul li {
    display: inline-block;
    list-style: none;
    padding: 1rem 1.2rem;
    margin-right: 0.50rem;
    cursor: pointer;
}


ul li a {
    color:#201f2e;
    
}
ul li a:hover {
    color: grey;
}


/*main section of the page*/
main {
    position: relative;
    top:200px;
    height: 100%;
    
}

.me {
    width: 50%;
    height: 40%;
    margin: 0 auto 80px;
    text-align: center;

}

.my-img img {
    max-width: 30%;
    border-radius: 100%;
    

}

.galary {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    border: 1px solid gray;
    height: 60%;
}

.galary div {
    border: 1px solid;
    height: 300px;
}



/*media query for the navigation*/
@media only screen and (max-width: 950px){
    #navigation {
        display: none;
    }

}

@media only screen and (max-width: 950px){
    #google-font {
        display: block;
        padding: 5px;
        margin-right: 20px;
        
    }

}

@media only screen and (max-width: 540px){
    #logo {
        display: none;
    }

}